body {
  background-color: #FCFBE3;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

.PokemonContainer {
  height: 250px;
}

.buttonContainer {
  display: inline-block;
  position: relative;
  text-align: center;
  top: -50%;
  width: 33%;
}

.contentContainer {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 33%;
}

button {
  background-color: #3c5aa6;
  border: 10px solid #C7A008;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

.picture {
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

.total {
  font-size: 2em;
  top: 40px;
  position: relative;
}

.bottomButtonContainer {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}